<!DOCTYPE html>
<html lang="en">
<head>
    <%- include head %>
    <title>学生信息管理系统</title>
    <script type="text/javascript" src="/javascripts/management.js"></script>
    <script type="text/javascript" src="/javascripts/echarts.min.js"></script>
    <script type="text/javascript" src="/javascripts/adminPage.js"></script>
    <script>
        layui.use('form', function(){
            var form = layui.form;
        });
    </script>
    <script>
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function(){
            var element = layui.element;
        });
    </script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header layui-bg-cyan">
        <div class="layui-logo">管理端</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
            <li class="layui-nav-item"><i class="layui-icon layui-icon-username"></i></li>
            <li class="layui-nav-item"><a href=""><%= userName %></a></li>
            </li>
            <li class="layui-nav-item"><i class="layui-icon layui-icon-logout"></i></li>
            <li class="layui-nav-item logout"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">显示学生信息</a>
                    <dl class="layui-nav-child">
                        <dd class = "basicInfo"><a href="javascript:;">基本信息</a></dd>
                        <dd class = "gradeInfo"><a href="javascript:;">成绩</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">统计学生信息</a>
                    <dl class="layui-nav-child">
                        <dd class = "statisticalScore"><a href="javascript:;">成绩统计</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item ">
                    <a href="javascript:;">查询学生信息</a>
                    <dl class="layui-nav-child">
                        <dd class = "searchInfo"><a href="javascript:;">基本信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item ">
                    <a href="javascript:;">新增学生信息</a>
                    <dl class="layui-nav-child">
                        <dd class = "addStudent"><a href="javascript:;">新增学生</a></dd>
                    </dl>
                </li>
            </ul>

        </div>
    </div>

    <div class="layui-body" style="margin:0 0">
        <!-- 内容主体区域 -->
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead class = "listCols">
            </thead>
            <tbody class = "listRows">
            </tbody>
        </table>
        <!--查询-->
        <div class="layui-row layui-col-space10 search" >
            <div class="layui-col-md4"></div>
            <div class="layui-col-md4">
                <form class="layui-form" id="search">
                    <div class="layui-form-item">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-block">
                            <input type="text" name="Sname" placeholder="请输入要查找的姓名" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <div class="layui-btn searchSubmit"  lay-filter="*">查找</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-col-md4"></div>
        </div>
        <!---统计-->
        <div class="layui-row layui-col-space10 statistical" >
            <div class="layui-col-md4"></div>
            <div class="layui-col-md4">
                <form class="layui-form" id="statistical">
                    <div class="layui-form-item">
                        <label class="layui-form-label">课程</label>
                        <div class="layui-input-block">
                            <select name="type" lay-filter="aihao">
                                <option value="Schinese">语文</option>
                                <option value="Smath">数学</option>
                                <option value="Senglish">英语</option>
                                <option value="Sphysics">物理</option>
                                <option value="Spolitics">政治</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">及格分数</label>
                        <div class="layui-input-block">
                            <input type="text" name="passMark" placeholder="60" value="60" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <div class="layui-btn statistSubmit"  lay-filter="*">统计</div>
                        </div>
                    </div>
                </form>
                <div id="graph" style="width: 400px;height:200px;"></div>
                <div id="barGraph" style="width: 600px;height:400px;"></div>
            </div>
            <div class="layui-col-md4"></div>
        </div>
        <div class="layui-row layui-col-space10 addInfo" >
            <div class="layui-col-md4"></div>
            <div class="layui-col-md4">
                <form class="layui-form" id="addInfo">
                    <div class="layui-form-item">
                        <label class="layui-form-label">姓名(必填)</label>
                        <div class="layui-input-block">
                            <input type="text" name="Sname" placeholder="请输入新增的学生的姓名" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">学号(必填)</label>
                        <div class="layui-input-block">
                            <input type="text" name="Sno" placeholder="请输入新增的学生的学号" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <div class="layui-btn addSubmit"  lay-filter="*">添加</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-col-md4"></div>
        </div>
    </div>
</div>
</body>
</html>