<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include head %>
        <title>登录</title>
        <script type="text/javascript" src="/javascripts/login.js"></script>
    </head>
    <body>
        <p>登录页面！</p>
        <div>
            <form id = "login">
                <input type="text" name="userName" value="" placeholder="请输入用户名">
                <input type="text" name="password" value="" placeholder="请输密码">
                <div class = "submit" > 登录</div>
            </form>
        </div>
    </body>
    <script>

    </script>
</html>